{% extends 'website/layout.html' %}
{% load static %}
{% block title %} Jodi Win - About us {% endblock %}

{% block body %}
<section id="news" class="ptb-90 bg-white">
    <div class="blog-section-wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class=" text-center">
                        <h3>About us</h3>
                        <p><p>The Golden Green Agriculture Pvt. Ltd. compnay produces and sells agricultural commodities. Customers are given the
                            facility to book company shares and products. When customers book share and products , they will get free points to play rummy and cards games on Lucky Draw Card.<!-- It
                            gives customers a chance to make a profit, customers who do not win in the
                            Guessing game will be reimbursed or Refund by the company after 36 months of
                            advance booking and customers who succeed in the Guessing game will be given
                            the winning amount.--></p> 
                            <p>Lucky Draw Card Rummy is an online free rummy game app, fully owned and operated Lucky Draw Card. Our main purpose to promote Rummy as a professional game and create a community of skilled gamers. You can play our Lucky Draw Card game online 24x7 from your home, on mobile or any location that has access to the Internet. You can create a valid account on our application and play free Lucky Draw Card games. With a vast experience of managing online multiplayer games, we believe in maintaining complete confidentiality of your information. So, create your account with us, join a Table and start playing online Lucky Draw Card games.</p>
							<p>Lucky Draw Card offers free rummy games and points on every new joining that allows rummy players to compete for entertainment and possible monetary gains with the use of their rummy skills.</p>
							<p class="pb20">We have put in great amount of effort to build our application so that players can enjoy excellent  Lucky Draw Card games online right from their home and earn real money. we offers platform to the players to use their skills and play the game online and have entertainment with friends, family, collegues and also to have opportunity to earn real cash. </p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>
<!--start promo section-->

{% endblock %}