{% extends 'dashboard/layout.html' %}
{% load static %}
{% block title %} JodiWin | Users {% endblock %}
{% block body %}

<!-- Start Content-->
<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Market</a></li>
                        <li class="breadcrumb-item active">Users</li>
                    </ol>
                </div>
                <h4 class="page-title">Users List</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->
    {% if messages %}
    <div class="alert alert-success" role="alert">
        {% for message in messages %}
        <i style="list-style: none;" class=" me-2"></i> <strong>Message - </strong>
        {{ message }}
        {% endfor %}
    </div>
    {% endif %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-2">
                        <div class="col-xl-8">
                            <form
                                class="row gy-2 gx-2 align-items-center justify-content-xl-start justify-content-between">

                                <div class="col-auto">
                                    <div class="d-flex align-items-center">
                                        <!-- <label for="status-select" class="me-2">Status</label>
                                        <select class="form-select" id="status-select" onchange="selectStatus()">
                                            <option selected> -- Choose -- </option>
                                            <option value="new">New Leads</option>
                                            <option value="followup">Followp</option>
                                            <option value="login">Login</option>
                                            <option value="soft-approval">Soft Approval</option>
                                            <option value="approval">Approval</option>
                                            <option value="sanction">Sanction</option>
                                            <option value="disbursed">Disbursed</option>
                                            <option value="rejected">Rejected</option>
                                            <option value="canceled">Canceled</option>
                                        </select> -->
                                    </div>
                                </div>

                            </form>
                        </div>
                        <div class="col-xl-4">
                            <div class="text-xl-end mt-xl-0 mt-2">
                                
                                <a href="/dashboard/games" type="button" class="btn btn-primary mb-2 me-2"><i
                                        class="mdi mdi-autorenew me-1"></i> </a>
                                <!-- <button type="button" class="btn btn-light mb-2">Export</button> -->
                            </div>
                        </div><!-- end col-->
                    </div>

                    <div class="table-responsive">
                        <table id="basic-datatable" class="table dt-responsive nowrap w-100">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Email <i class="mdi mdi-email"></i></th>
                                    <th>Phone <i class="mdi mdi-phone"></i></th>
                                    <th>Opening Balance</th>
                                    <th>Wallet Ballance <i class="mdi mdi-wallet"></i></th>
                                    <th>Status</th>
                                    <th style="">Action</th>
                                </tr>
                            </thead>


                            <tbody>
                                {% for i in users reversed %}
                                <tr>
                                    <td>{{i.id}}</td>
                                    <td>{{i.user.first_name}} {{i.user.lastName}}</td>
                                    <td>{{i.user.email}}</td>
                                    <td>{{i.phone}}</td>
                                    <td>Rs. {{i.openingBalance}}</td>
                                    <td>Rs. {{i.walletAmount}}</td>
                                    <td>
                                        <h5><span class="badge badge-primary-lighten"><i class="mdi mdi-coin"></i>
                                                {{i.status}}</span></h5>
                                    </td>
                                    <td>
                                        <a href="/dashboard/user-details/{{i.id}}/" class="action-icon"> <i
                                                class="mdi mdi-eye"></i> </a>
                                        <!-- <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-square-edit-outline"></i></a> -->
                                    </td>
                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div> <!-- end card-body-->
            </div> <!-- end card-->
        </div> <!-- end col -->
    </div>
    <!-- end row -->

</div> <!-- container -->


<!-- Modals Here  -->

<!-- Large modal -->
<!-- <button type="button" class="btn btn-info">Large Modal</button> -->
<div class="modal fade" id="bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myLargeModalLabel">Adding New Market </h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
            </div>
            <div class="modal-body">
                <div class="conatiner">
                    <form action="/dashboard/add-games/" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-xl-12 row">
                                <div class="mb-3 col-12">
                                    <label for="title" class="form-label">Game Title : <span
                                            class="text-danger">*</span></label>
                                    <input type="text" id="title" name="title" class="form-control"
                                        placeholder="Market title" required>
                                </div>
                                <div class="mb-3 col-12">
                                    <label for="title" class="form-label">Market Type : <span
                                            class="text-danger">*</span></label>
                                    <select name="marketType" class="form-select" id="">
                                        <option value="Reguler Market">Reguler Market</option>
                                        <option value="Jodi Market">Jodi Market</option>
                                    </select>
                                </div>

                                <div class="mb-3 col-4">
                                    <label for="project-budget" class="form-label">Game Rate : <span
                                            class="text-danger">*</span></label>
                                    <input type="text" id="closeTime" name="rate" class="form-control"
                                        placeholder="Eg. 10 KA 90" required>
                                </div>

                                <div class="mb-3 col-4">
                                    <label for="project-budget" class="form-label">Return on investment  <span
                                            class="text-danger">*</span></label>
                                    <input type="number" id="closeTime" name="multipleTimes" class="form-control"
                                        placeholder="Eg. 9" required>
                                </div>


                            </div> <!-- end col-->

                            <div class="col-xl-12 row">

                                <!-- Date View -->
                                <div class="mb-3 position-relative" id="datepicker2">
                                    <button class="btn btn-success " type="submit">Save & Add</button>
                                    <button class="btn btn-warning mx-2" type="reset">Reset</button>
                                </div>
                            </div> <!-- end col-->
                        </div>
                        <!-- end row -->
                    </form>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


</div> <!-- content -->


{% endblock %}

{% block js %}

<script>

</script>
{% endblock %}