{% extends 'app/layout.html' %}
{% load static %}

{% block title %} Home - 52 Patti Mall{% endblock %}

{% block css %}
<style>
    .disabled {
        pointer-events: none;
        cursor: default;
    }
</style>
{% endblock %}
{% block body %}
<div class="main-container container">



    <!--high light -->
    <div class="row mb-4">
        <div class="col-12">
            <div class="card">
                <div class="">
                    <div class="row">
                        <div class="col-auto align-self-center">
                            <img src="{% static 'app/assets/img/banner/banner1.jpg' %}" alt="" style="width: 100%; border-radius: 10px;" />
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- income expense-->
    <div class="row mb-4">
        <div class="col mb-3">
            <h6 class="title">Jodi Sequence</h6>
        </div>
        <div class="col-12">


            <div class="card">
                <a href="/app/jodi-win" class="btn btn-warning">
                    <div class="avatar avatar-40 p-1 shadow-sm shadow-warning rounded-15">
                        <div class="icons bg-success text-white rounded-12">
                            <i class="bi bi-stars"></i>
                        </div>
                    </div> Jodi Sequence <br> <small style="color: aliceblue;">Play Now</small>
                </a>
            </div>

        </div>

    </div>


    <!-- Blogs -->
    <div class="row mb-3">
        <div class="col">
            <h6 class="title">Reguler Tables</h6>
        </div>
        <!-- <div class="col-auto align-self-center">
            <a href="blog.html" class="small">Read more</a>
        </div> -->
    </div>
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="row">
                        {% for i in market %}
                        <div class="col-12 mb-2">
                            <div class="card text-center shadow-sm" style="border-radius: 5px;">
                                <div class="mx-2">
                                    <marquee width="100%" direction="rigth" height="30%">
                                        <small class="text-secondary" style="font-size:small;">Start Time- {{i.openTime}}
                                            | Close Time- {{i.closeTime}} </small>
                                    </marquee>
                                </div>
                                <p class="mt-1 mb-1 " style="padding:5px;"> <b><small>{{i.title}}</small></b> </p>
                                <!-- <h6 class="mb-1 title text-primary">{{i.reusltOpenThreeDigit}} -
                                    {{i.reusltOpenAnk}}{{i.reusltCloseAnk}} - {{i.reusltCloseThreeDigit}}</h6> -->
                                    <div style="display: flex; margin-left: 5px;">
                                        <!-- Open Result  -->
                                    {% if i.resultOpen == '***' %}    
                                    <img src="{% static 'app/assets/img/card/cardBack.jpg' %}" alt="" style="width: 30px; margin: 1.5px;">
                                    <img src="{% static 'app/assets/img/card/cardBack.jpg' %}" alt="" style="width: 30px; margin: 1.5px;">
                                    <img src="{% static 'app/assets/img/card/cardBack.jpg' %}" alt="" style="width: 30px; margin: 1.5px;">
                                    <img src="{% static 'app/assets/img/card/cardBack.jpg' %}" alt="" style="width: 30px; margin: 1.5px;">
                                   
                                    {% else %}
                                    <div>
                                        {% for key, values in openCardsDict.items %}
                                        {% if key.id == i.id %}
                                        {% for k, v in values.openCard.items %}
                                        <img src="/media/{{v.4}}" alt="" style="width: 30px; margin: 1.5px;">
                                        {% endfor %}
                                        {% endif %}
                                        
                                        {% endfor %}
                                    </div>
                                    
                                    {% endif %}

                                        
                                     <!-- Close Result  -->
                                    {% if i.resultClose == '***' %}  
                                    <span style="margin-top: 4px; padding: 5px;"><b>-</b></span> 
                                    <img src="{% static 'app/assets/img/card/cardBack.jpg' %}" alt="" style="width: 30px; margin: 1.5px;"> 
                                    <img src="{% static 'app/assets/img/card/cardBack.jpg' %}" alt="" style="width: 30px; margin: 1.5px;">
                                    <img src="{% static 'app/assets/img/card/cardBack.jpg' %}" alt="" style="width: 30px; margin: 1.5px;">
                                    <img src="{% static 'app/assets/img/card/cardBack.jpg' %}" alt="" style="width: 30px; margin: 1.5px;">
                                    
                                    
                                    {% else %}
                                    <span style="margin-top: 4px; padding: 5px;"><b>-</b></span>
                                    <div>
                                        {% for key, values in colseCardsDict.items %}
                                        {% if key.id == i.id %}
                                        {% for k, v in values.closeCard.items %}
                                        <img src="/media/{{v.4}}" alt="" style="width: 30px; margin: 1.5px;">
                                        {% endfor %}
                                        {% endif %}
                                        {% endfor %}
                                    </div>
                                    
                                    {% endif %} 
                                </div>
                                <div class="mx-2">
                                    <marquee width="100%" direction="rigth" height="30%">
                                        {% if i.status == 'game is closed for today' %}
                                        <small class="text-danger" style="font-size:small;">{{i.status}}
                                        </small>
                                        {% else %}
                                        <small class="text-success" style="font-size:small;">{{i.status}}
                                        </small>
                                        {% endif %}
                                    </marquee>
                                </div>
                                {% if i.status == "game is closed for today" %}
                                <div style="display: flex; margin: auto; padding-bottom: 3px;">
                                    <a href="/app/reguler-game-panel-chart/{{i.id}}"
                                        class="btn btn-primary btn-sm mx-2 mb-2 mt-3"><i
                                            class="bi bi-card-list"></i></a>
                                    <a href="/app/game-list/{{i.id}}"
                                        class="btn btn-primary btn-sm mx-2 mb-2 mt-3 disabled"><i
                                            class="bi bi-controller"></i> &nbsp; <small>Play</small></a>
                                </div>
                                {% else %}
                                <div style="display: flex; margin: auto; padding-bottom: 3px;">
                                    <a href="/app/reguler-game-panel-chart/{{i.id}}"
                                        class="btn btn-primary btn-sm mx-2 mb-2 mt-3"><i
                                            class="bi bi-card-list"></i></a>
                                    <a href="/app/game-list/{{i.id}}"
                                        class="btn btn-primary btn-sm mx-2 mb-2 mt-3"><i
                                            class="bi bi-controller"></i>&nbsp; <small>Play</small></a>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>

{% endblock %}

{% block js %}



{% endblock %}