{% extends 'app/layout.html' %}
{% load static %}

{% block title %} JoidWin | Place Jodi Will {% endblock %}

{% block css %}

<style>
    #myUL {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    #myUL li a {
        border: 1px solid #ddd;
        margin-top: -1px;
        /* Prevent double borders */
        background-color: #f6f6f6;
        padding: 12px;
        text-decoration: none;
        font-size: 18px;
        color: black;
        display: block
    }

    #myUL li a:hover:not(.header) {
        background-color: #eee;
    }
</style>
{% endblock %}


{% block body %}
<div class="main-container container">

    <!-- Blogs -->
    <div class="row mb-3">
        <div class="col">
            <h6 class="title">Play game with {{title}}</h6>
        </div>
        <!-- <div class="col-auto align-self-center">
            <a href="blog.html" class="small">Read more</a>
        </div> -->
    </div>
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12">
            <div class="card mb-3">
                <div class="card-body">
                    <form action="/app/place-jodi-bid/" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-6 my-2 mb-4">
                                <input type="date" value="" name="date" id="today" class="form-control">
                            </div>

                            <div class="col-6 my-2 mb-4">
                                <input type="text" name="marketType" value="close" hidden>
                            </div>

                            <div>
                                <div class="row mb-3">
                                    <div class="col align-self-center">
                                        <h6 class="title">Select Patti</h6>
                                    </div>
                                    <div class="col-auto">
                                        <nav>
                                            <div class="nav nav-tabs border-0" id="nav-tab" role="tablist">
                                                <button class="btn  btn-outline-dark active text-normalcase"
                                                    id="nav-thumbnails-tab" data-bs-toggle="tab"
                                                    data-bs-target="#nav-thumbnails" type="button" role="tab"
                                                    aria-controls="nav-thumbnails" aria-selected="true"
                                                    style="padding: 10px;">
                                                    Rummy
                                                </button>
                                                <button class="btn  btn-outline-dark ms-2 text-normalcase"
                                                    id="nav-lists-tab" data-bs-toggle="tab" data-bs-target="#nav-lists"
                                                    type="button" role="tab" aria-controls="nav-lists"
                                                    aria-selected="false">
                                                    Joker
                                                </button>
                                            </div>
                                        </nav>
                                    </div>
                                    <div class="col-12 text-center mt-3">
                                        <p class="text-secondary">Check the thumbnails view and list view of all Cards
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="tab-content" id="nav-tabContent">


                                            <div class="tab-pane fade show active" id="nav-thumbnails" role="tabpanel"
                                                aria-labelledby="nav-thumbnails-tab">

                                                <!-- product medsize box  -->
                                                <div class="row mb-2">
                                                    <div class="col-12 my-2 mb-4 p-2"
                                                        style="border: 2px red solid; border-radius: 5px;">
                                                        <!-- chockat card  -->
                                                        <div style="display:flex; flex-wrap: wrap;">
                                                            {% for i in card %}
                                                            {% if i.category == 'c' %}
                                                            <img src="/media/{{i.image}}"
                                                                onclick="selectPatti({{i.id}},'{{i.name}}','{{i.value}}','{{i.category}}','{{i.image}}')"
                                                                alt="" style="margin: 1px; width: 30px;">
                                                            {% endif %}
                                                            {% endfor %}
                                                        </div>

                                                        <!-- Espic Card  -->
                                                        <div style="display:flex; flex-wrap: wrap; padding-top: 5px;">
                                                            {% for i in card %}
                                                            {% if i.category == 'e' %}
                                                            <img src="/media/{{i.image}}"
                                                                onclick="selectPatti({{i.id}},'{{i.name}}','{{i.value}}','{{i.category}}','{{i.image}}')"
                                                                alt="" style="margin: 1px; width: 30px;">
                                                            {% endif %}
                                                            {% endfor %}
                                                        </div>


                                                        <!-- badam card  -->
                                                        <div style="display:flex; flex-wrap: wrap; padding-top: 5px;">
                                                            {% for i in card %}
                                                            {% if i.category == 'b' %}
                                                            <img src="/media/{{i.image}}"
                                                                onclick="selectPatti({{i.id}},'{{i.name}}','{{i.value}}','{{i.category}}','{{i.image}}')"
                                                                alt="" style="margin: 1px; width: 30px;">
                                                            {% endif %}
                                                            {% endfor %}
                                                        </div>

                                                        <!-- Kilvar Card -->
                                                        <div style="display:flex; flex-wrap: wrap; padding-top: 5px;">
                                                            {% for i in card %}
                                                            {% if i.category == 'k' %}
                                                            <img src="/media/{{i.image}}"
                                                                onclick="selectPatti({{i.id}},'{{i.name}}','{{i.value}}','{{i.category}}','{{i.image}}')"
                                                                alt="" style="margin: 1px; width: 30px;">
                                                            {% endif %}
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="tab-pane fade" id="nav-lists" role="tabpanel"
                                                aria-labelledby="nav-lists-tab">

                                                <!-- product medsize list  -->
                                                <div class="row mb-2">
                                                    <div class="col-12 col-md-6 ">
                                                        <div class="card mb-3">
                                                            <div class="card-body">
                                                                <div class="row">
                                                                    <div class="col-12 my-2 mb-4 p-2"
                                                                        style="border: 2px red solid; border-radius: 5px;">
                                                                        <!-- chockat card  -->
                                                                        <div style="display:flex; flex-wrap: wrap;">
                                                                            {% for i in card %}
                                                                            {% if i.category == 'joker' %}
                                                                            <img src="/media/{{i.image}}"
                                                                                onclick="selectPatti({{i.id}},'{{i.name}}','{{i.value}}','{{i.category}}','{{i.image}}')"
                                                                                alt=""
                                                                                style="margin: 2px; width: 30px;">
                                                                            {% endif %}
                                                                            {% endfor %}
                                                                        </div>


                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-12 p-1 mb-4 row "
                                style="border: 2px red solid; border-radius: 5px; margin-left: 1px;">
                                <div class="col-7">
                                    <label for="" class="form-lable"><small>Jodi Patti
                                        </small> </label>
                                    <div style="display:flex; flex-wrap: wrap;" id="jodiPatti">



                                    </div>
                                </div>


                            </div>



                            <div class="col-12 my-2 mb-4">
                                <label for="" class="form-lable"><small>Points <span
                                            class="text-danger">*</span></small>
                                </label>
                                <input type="number" name="points" id="point" class="form-control" required>
                                <input type="text" name="marketId" value="{{marketId}}" hidden>
                                <input type="text" name="gameId" value="{{gameId}}" hidden>
                                <input type="text" name="resultCard" value="" id="jodiCard" hidden>
                            </div>
                            <div class="col-3 mb-4" style="margin: auto;">
                                <button class="btn btn-primary bt-lg" id="btn-add" disabled> ADD</button>
                            </div>
                        </div>
                    </form>
                    <hr>
                    <div class="text-center">
                        <a href="/app/jodi-win-bid-history" class="btn btn-primary" style="font-size: smaller;">View
                            History</a>
                    </div>

                </div>
            </div>
        </div>

    </div>

</div>

{% endblock %}

{% block js %}

<script>
    document.getElementById('today').value = new Date().toISOString().substring(0, 10);

    // declraing new cart for jodi card
    if (localStorage.getItem('jodiCart') == null) {
        var jodiCart = {};
        updateJodiCart(jodiCart)
    } else {
        jodiCart = JSON.parse(localStorage.getItem('jodiCart'));
        updateJodiCart(jodiCart)
    }

    function btnEnaled() {
        var jodiSize = Object.keys(jodiCart).length;
        if (jodiSize == 2) {

            document.getElementById("btn-add").disabled = false;

        }
    }

    // Adding New Card in rummyCart
    function selectPatti(id, name, value, category, image) {
        var size = Object.keys(jodiCart).length;
        if (size < 2) {

            keyId = Math.floor((Math.random() * 10000) + 1);
            id = id;
            name = name;
            value = value;
            category = category;
            image = image;
            jodiCart['id' + keyId] = [id, name, value, category, image];
            updateJodiCart(jodiCart)
            btnEnaled()
            $('#jodiCard').val(JSON.stringify(jodiCart));
        }
        else {

            alert("You can't add more than two card in rummy cards");
        }


    }

    // Update rummy Cart 
    function updateJodiCart(jodiCart) {


        if ($.isEmptyObject(jodiCart)) {

            document.getElementById("jodiPatti").innerHTML = `<img src="{% static 'app/assets/img/card/cardBack.jpg' %}"
                                     alt="" style="margin: 3px; width: 40px;">
                                <img src="{% static 'app/assets/img/card/cardBack.jpg' %}"
                                     alt="" style="margin: 3px; width: 40px;">
                                `;

        } else {
            document.getElementById("jodiPatti").innerHTML = ``;
            for (item in jodiCart) {
                let id = jodiCart[item][0];
                let name = jodiCart[item][1];
                let value = jodiCart[item][2];
                let category = jodiCart[item][3];
                let image = jodiCart[item][4];

                mystr = `<img src="/media/${image}"
                                     alt="" style="margin: 3px; width: 40px;">`;

                $('#jodiPatti').append(mystr);

            }
        }
    }


</script>

{% endblock %}