{% extends 'app/layout.html' %}
{% load static %}

{% block title %} JoidWin | Rules & Notice Board {% endblock %}

{% block body %}
<div class="main-container container">

    <!-- Blogs -->
    <div class="row mb-3">
        <div class="col">
            <h4 class="title text-center" style="color: orange;">Terms and Conditions</h4>
        </div>
        <!-- <div class="col-auto align-self-center">
            <a href="blog.html" class="small">Read more</a>
        </div> -->
    </div>
    <div style="background-color: white; padding: 15px;" class="container">


        <h6 class="" style="margin-top: 50px;">Introduction</h6>
        <p>This user agreement (the &quot;Agreement&quot;), which includes those terms and conditions
            expressly
            set out below and those incorporated by reference including the terms of the Privacy Policy
            and the Game Rules is an agreement between you (the &quot;User&quot;, &quot;you&quot; and
            &quot;your&quot;), and
            52 Patti Mall and its licensors, subsidiaries, associates, affiliates and partners (the
            &quot;Company&quot;,
            &quot;us&quot;, &quot;we&quot; and &quot;our&quot;) which governs your use of the products and
            services (&quot;Services&quot;)
            provided by 52 Patti Mall (the &quot;Company&quot;) through the www.52 Patti Mall.com website (the
            &quot;Site&quot;)
            and associated software (&quot;Software&quot;). By using any of the Services you are agreeing to
            all the
            terms of this Agreement.</p>
        <p>You understand that the Terms will be binding on you. You agree that Services offered on the
            Website can be accessed only in accordance with the Terms and you shall be responsible to
            comply with the Terms at all times. You are responsible to be aware of and agree to abide by
            the Terms as published and periodically amended or modified by 52 Patti Mall</p>
        <p>
            If any of the Terms are determined to be unlawful, invalid, void or unenforceable for any
            reason by any judicial or quasi - judicial body in India, it will not affect the validity and
            enforceability of the remaining Terms.
        </p>
        <p>
            Our failure or delay to act or exercise any right or remedy with respect to a breach of any of
            the Terms by you shall not be construed as a waiver of our right to act with respect to the said
            breach or any prior, concurrent, subsequent or similar breaches.
        </p>
        <p>
            If a promotion, game, event, competition or tournament is organized by us on the Website, it shall be
            governed by the Terms and any supplementary terms and conditions which may be specifically applied for that
            promotion, game, event, competition or tournament.
        </p>

        <h6 class="mt-5" style="margin-top: 50px;">Agreement</h6>
        <p>You should ensure that you read, understand and agree with all the terms and conditions contained in the
            Agreement, before you may use the Services. You should only use the Services if you have read and understood
            the Agreement and agree to abide by its terms and conditions. If you have any questions about the Agreement
            please contact us at info@52 Patti Mall.com</p>
        <p>
            We reserve the right to amend, modify or change any of the terms of this Agreement at any time, and it is
            advisable to regularly look at these terms. We shall give notice of such changes ("Notice") either by email
            notification to the email address provided to us by you upon registration, or by posting the amended
            Agreement on the Site. Such modifications could include changes to any of our Game Rules. If you do not
            agree with the terms of the amended Agreement, you may terminate your use of the Services by notifying us
            that you wish to terminate your Accounts. Your continued use of the Services will be deemed to constitute
            your acceptance of the changes to the Agreement.
        </p>

        <h6 class="mt-5" style="margin-top: 50px;">Eligibility</h6>
        <p>In order to use the Services, a User must register and truthfully and accurately provide all mandatory
            information.</p>
        <p>In order to participate in Real Point Games, you must satisfy the following criteria at all times: <br>
            - You must be at least 21 years old, and must not suffer from any disability or impairment which would
            prevent you from assuming the responsibilities contained in the Agreement, or from participating in the
            Games which are offered as part of the Services. <br>
            - You must access the Services while located within the Eligible Territory, <br>
            - You must possess a valid PAN number, which will be associated with your Accounts and which you will
            provide to us upon request, <br>
            - You must satisfy yourself that it is legal for you to participate in Real Point Games in the specific
            jurisdiction from which you are accessing the Services. <br> <br>
            (Real Point = real cash and practice = fun = free are same where mentioned in site). The '‘Eligible
            Territory' is defined as being the territory of India excluding the states of Assam and Orissa. ‘Real Point
            Games’ are defined as being any games or tournaments which are part of the Services and require the User to
            maintain a non-zero cash balance ("Cash Balance") in their Accounts. Any game other than a Real Point Game
            made available by the Company through the Site or the Software, is defined as a 'Practice Game'. All Real
            Point Games and Practice Games shall be collectively defined as 'Games'. <br>
            You understand and acknowledge that participation in Real Point Games may result in financial loss to you,
            and agree that your participation is completely voluntary. You undertake full responsibility for any such
            financial losses, and agree that you will not under any circumstances hold the Company responsible for such
            losses. <br>

        </p>

        <h6 class="mt-5" style="margin-top: 50px;">Eligibility</h6>
        <p>You understand and accept that by viewing or using the Site or availing of any Services, or using
            communication features on the Site, you may be exposed to content posted by other Users which you may find
            offensive, objectionable or indecent. You may bring such content posted by other Users to our notice that
            you may find offensive, objectionable or indecent and we reserve the right to act upon it as we may deem
            fit. The decision taken by us on this regard shall be final and binding on you.</p>
        <p>
            We provide valid, registered Users the opportunity to access and play online games of skill. The Company
            provides software and IT services to enable games of skill to be played with other individuals over the
            internet.
        </p>
        <p>
            The Services provided by the Company are only intended to facilitate games of skill, and are for
            entertainment purpose only.
        </p>
        <p>
            The Company levies a charge ("Service Charge") for Real Chip Games, which would be inclusive of service tax
            as may be applicable. The Service Charge may vary from time to time and from one Real Point Game to another.
        </p>

        <h6 class="mt-5" style="margin-top: 50px;">User Account</h6>
        <p>
            Your Accounts are to be used solely by you. <br> <br>
            You undertake that all the information provided by you at the time of opening the Accounts, or provided by
            you subsequently upon request by the Company, is true, complete and correct. You further undertake to keep
            all such information which has been provided by you up to date at all times, by making necessary changes or
            intimating the Company when such details change. You undertake to provide proof relating to any such
            information, including copies of documents such as your PAN card, or address and identity proof, upon
            request by the Company. You understand that the Company may take steps to verify any such information
            provided by you. Your continued use of the Services, including but not limited to your ability to make Cash
            Credits and Cash Withdrawals in accordance with the terms of this Agreement, is subject to the Company’s
            continued satisfaction that all such details provided by you are true, complete and correct.

        </p>
        <p>During the registration process, you will be required to choose a login name and a password in addition to
            providing some other information which may not be mandatory. Additionally, you may be required to give
            further personal information for your user account verification and/or for adding cash to your user account.
            You must give us the correct details in all fields requiring your personal information, including, without
            limitation, your name, postal address, email address, telephone number(s) etc. You undertake that you will
            update this information and keep it current.</p>
        <p>
            You acknowledge that we may, at any time, require you to verify the correctness of this information and in
            order to do so may require additional documentary proof from you, failing which we reserve the right to
            suspend or terminate your registration on the Website.
        </p>
        <p>
            Any information provided by you to us should be complete and truthful to the best of your knowledge. We are
            not obliged to cross check or verify information provided by you and we will not take any responsibility for
            any outcome or consequence as a result of you providing incorrect information or concealing any relevant
            information from us.
        </p>
        <p>
            You are prohibited from using the Services by means of Accounts registered in the name of any other
            individual.
        </p>
        <p>
            Should you attempt to open more than one Point Account or Winnings and Bonus Account, under your own name or
            under any other name, or should you attempt to use the service by means of any other person's Accounts, we
            will be entitled to close all your Accounts and bar you from accessing or using the Services in the future
            without notice.
        </p>
        <p>You shall not share the password to your Accounts, or any other confidential or sensitive information
            associated with your Accounts, with any other individual. The Company is not responsible if your Accounts
            are accessed by others using your password or other confidential details or information.</p>
        <p>
            You also understand and agree that deposits in your user account maintained with us are purely for the
            purpose of participation in Cash Games made available on the Website. <br> <br>
            You understand and agree that you cannot transfer any sum from your user account with us to the account of
            another registered user on the Website except as may be permitted by 52 Patti Mall and subject to
            restrictions and conditions as may be prescribed
        </p>
        <p>
            We are legally obliged to deduct tax at source (TDS) on winnings of more than rs. 10,000/- in All Game as
            the case may be. In these cases, you will be required to furnish your Permanent Account Number (PAN) duly
            issued to you by the Income Tax authorities if you have not already done so. TDS at the rate of 30% will
            automatically be deducted from such winnings and the rest will be credited to your 52 Patti Mall user
            account. Withdrawal of these winnings will only be permitted upon your providing your correct PAN details.
            These limits and rates are subject to change as per the prevailing rules and regulations. 52 Patti Mall
            obligation is this regard is limited to deducting TDS as required by law and providing you an appropriate
            certificate of tax deduction. We neither advise you nor shall in any manner be responsible for your
            individual tax matters. <br> <br>
            We reserve the right to verify your PAN from time to time and to cancel any prize should your PAN be found
            inconsistent in our verification process.
        </p>

        <h6 class="mt-5" style="margin-top: 50px;">User Prohibited</h6>
        <p> <b>Anti-Cheating and Anti-Collusion:</b> </p>
        <p>You undertake that you yourself will play in all Games in which you have registered/joined and not use any
            form of external assistance to play. You shall not add unauthorized components, create or use cheats,
            exploits, bots, hacks or any other third-party software designed to modify the Website or use any
            third-party software that intercepts, mines or otherwise collects information from or through the Website or
            through any Services. Any attempt to employ any such external assistance is strictly prohibited.</p>
        <p>
            Formation of teams and collusion between you and any other user(s) for participating in Games organized on
            the Website or any other form of cheating is strictly prohibited. <br> <br>
            When collusion or cheating is detected, 52 Patti Mall shall settle the Game as per its "Game Cancellation
            Settlement Policy" and may take further appropriate action against offending users in terms hereof.

        </p>

        <h6 class="mt-5" style="margin-top: 50px;">Money Laundering:</h6>
        <p>
            You are prohibited from doing any activity on the Website that may be construed as money laundering,
            including, without limitation, attempting to withdraw cash from unutilized cash added through credit cards
            or deliberately losing money to a certain player(s).
        </p>

        <h6 class="mt-5" style="margin-top: 50px;">Anti-SPAMMING:</h6>
        <p>
            Sending SPAM emails or any other form of unsolicited communication for obtaining registrations on the
            Website to benefit from any promotional program of 52 Patti Mall or for any other purpose is strictly
            prohibited.
        </p>

        <h6 class="mt-5" style="margin-top: 50px;">Multiple IDs::</h6>
        <p>
            Your registration on the Website is restricted to a single user account which will be used by you to avail
            of the Services provided on the Website. You are prohibited from creating or using multiple user IDs for
            registering on the Website.
        </p>
        <p>
            The Company makes no warranty or representations about the accuracy or completeness of the content contained
            on the Site, the Services or the Software. The Site, the Services and the Software, and all content,
            materials, information, services, and products contained therein, including, without limitation, text,
            graphics, and links, are provided ‘as is’ and without warranties of any kind, whether express or implied.
        </p>
        <p>
            The Company also reserves the right to limit your use of the Services or participation in any Game, or
            terminate your Account, in case it determines that you have intentionally caused any malfunction or
            disruption of the Services. The Company is not liable for any potential winnings from any unfinished Real
            Point Games.
        </p>


        <h6 class="mt-5" style="margin-top: 50px;">Additional charges that may apply</h6>
        <p>
            Certain additional charges may be levied upon you by the Company, or by payment gateways, banks or other
            intermediaries, at the time of purchase of chips and Cash Withdrawals. You agree to pay any such additional
            charges, which may vary between various banks, payment processors or other intermediaries.
        </p>

        <h6 class="mt-5" style="margin-top: 50px;">Disconnections</h6>
        <p>
            CeThe Company will not be liable for any network disconnections on the User’s computer or any other external
            networks. In case of any disruption of services while a Game is in progress, the Company will cancel the
            Game and refund the points/ Real Point irrespective of the status of the Game. <br><br>
            While participating in a Real Point Game, a User takes full responsibility for the risk of internet
            disconnection or communication interferences between their computer and the Company’s servers, any lag or
            freezing of the game or Software, and any problems attribuTable to their own computer or network connection.
            Other than a crash of the Company’s servers, the Company does not take any responsibility for any of the
            player's disconnections from the server.

        </p>

        <h6 class="mt-5" style="margin-top: 50px;">Third Party Sites</h6>
        <p>
            The Site may provide links to third-party web sites. Third parties and third party web sites may have
            different privacy policies, terms and conditions and business practices than we do. Your dealings or
            communications with any party other than the Company are solely between you and that third party. Reference
            on the Site to any product, process, publication or service of any third party by trade name, domain name,
            trademark, trade identity, service mark, logo, and manufacturer or otherwise does not constitute or imply
            its endorsement or recommendation by the Company.
        </p>

        <h6 class="mt-5" style="margin-top: 50px;">Ownership :</h6>
        <p>
            Use of the 52 Patti Mall name and any of the other names or marks associated with the Site, the Services or
            the Software is strictly forbidden, unless it is used with the express written permission of the Company.
            The Site, the Services and the Software, including its code, documentation, appearance, structure, and
            organization is an exclusive product of the Company, which retains all rights, tangible and intangible, to
            the 52 Patti Mall website, the games therein, software, codes, copies, modifications, or merged parts.
        </p>

        <h6 class="mt-5" style="margin-top: 50px;">Disclaimer:</h6>
        <p>
            The Company expressly disclaims all responsibility and liability for any harm resulting from: <br><br>
            a. your participation in, or cancellation of, any Game, <br>
            b. any activity or transactions with third parties whom you may have connected to through the Services, the
            Site or the Software, and <br>
            c. any User-generated Content, including any violation of intellectual property rights with respect to such
            User-generated Content. <br>

        </p>

        <h6 class="mt-5" style="margin-top: 50px;">Warranty:</h6>
        <p>
            The Company makes no warranty or representations about the accuracy or completeness of the content contained
            on the Site, the Services or the Software. The Site, the Services and the Software, and all content,
            materials, information, services, and products contained therein, including, without limitation, text,
            graphics, and links, are provided ‘as is’ and without warranties of any kind, whether express or implied.
        </p>
        <p>The Company disclaims all warranties, express and implied with regard to the merchantability and fitness for
            a particular purpose, non-infringement, freedom from computer virus etc of the Site, the Services or the
            Software. The Company does not represent or warrant that the functions contained in the Site, the Services
            or the Software will be uninterrupted or error-free, that defects will be corrected, or that they or the
            server that makes the Site, the Services or the Software available are free of viruses or other harmful
            components. The Company also reserves the right to limit your use of the Services or participation in any
            Game, or terminate your Account, in case it determines that you have intentionally caused any malfunction or
            disruption of the Services. The Company is not liable for any potential winnings from any unfinished Real
            Point Games.</p>

        <h6 class="mt-5" style="margin-top: 50px;">Accepting the terms and conditions:</h6>
        <p>You undertake to have read and abide by the above terms and conditions.</p>


        <h6 class="mt-5" style="margin-top: 50px;">Cancellation by User:</h6>
        <p>You may cease using the Services and terminate your Accounts at any time, by writing to us at info@52 Patti
            Mall.com and informing us of your intention. Subject to such restrictions as may be applicable to Cash
            Withdrawals in accordance with the terms and conditions of this Agreement, the Company will refund the
            remaining amount of your Cash Balance to you at this time.</p>

        <h6 class="mt-5" style="margin-top: 50px;">User Account suspension:</h6>
        <p>
            We may suspend or otherwise put restrictions on your access to the Services on the Website during
            investigation for any of the following reasons: <br>
            Suspected violation of Terms or other abuse of your user account; <br>
            Suspected breach of security of your user account; <br>
            or If there have been charge-backs on your user account. <br>
            Our decision to suspend or restrict Service or any part thereof as we deem appropriate shall be final and
            binding on you. <br>

        </p>

        <h6 class="mt-5" style="margin-top: 50px;">Contact us:</h6>
        <p>In case of any questions or complaints, feel free to contact us any time at info@52 Patti Mall.com In case of
            any change in your personal information, please contact Customer Service at info@52 Patti Mall.com If you
            forget your password, or suspect that your password or your Accounts has been compromised, please contact
            info@52 Patti Mall.com</p>
    </div>
</div>

{% endblock %}

{% block js %}

<script>
    document.getElementById('today').value = new Date().toISOString().substring(0, 10);
</script>

{% endblock %}